<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
     <%= link_to "#", class: "navbar-brand" do %>
      <%= image_tag "cinema.png" %>
    <% end %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <li class="nav-item active">
            <%= link_to "My lists", lists_path, class: "nav-link" %>
          </li>
          <li class="nav-item active">
            <%= link_to "New list", new_list_path(@list), class: "nav-link" %>
          </li>
      </ul>
    </div>
  </div>
</div>

<!-- <ul>
  <% @movies.each do |movie| %>
    <% bookmark = Bookmark.find_by(movie_id: movie.id, list_id: @list.id) %>
      <li><%= movie.title %> | <%= link_to "Delete", bookmark_path(bookmark), data: {turbo_method: :delete, turbo_confirm: "Are you sure ?"}, class: "delete_btn" %></li>
  <% end %>
</ul> -->

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path(@list.photo.key, height: 300, crop: :fill) if @list.photo.attached? %>');">
  <div class="container">
    <h1><strong><%= @list.name %></strong></h1>
  </div>
</div>


<div class="container mt-3">
  <div class="d-flex justify-content-end mb-3">
    <div>
      <%= link_to "Add a movie", new_list_bookmark_path(@list), class: "btn btn-success text-white" %>
    </div>
  </div>
  <div class="cards m-5">
    <% @list.bookmarks.each do |bookmark| %>
      <div class="card-movie">
        <img src="<%= bookmark.movie.poster_url %>"/>
        <div class="card-movie-infos">
          <div>
            <h2><strong><%= bookmark.movie.title %></strong> • <%= bookmark.movie.rating %> <i class="fa-solid fa-star" style="color: #FFD43B;"></i></h2>
            <p><%= bookmark.movie.overview %></p>
          </div>
          <div class="m-3">
            <small><%= link_to "Delete", bookmark_path(bookmark), data: {turbo_method: :delete, turbo_confirm: "Are you sure ?"}, class: "delete_btn" %></small>
          </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
